body{
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;   
}
h1 {
	font-family: 'Oswald', sans-serif;
    color:rgb(71,62,62);
    font-size: 48px;
}

p {
	font-family: 'Fira Sans', sans-serif;
	color: dark gray;
}
a {
	color: white;
    border-radius: 4px;
   font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
    background-color: rgb(167,1,78);
    font-size: 24px;
}
a:hover {
	text-decoration: none;
    background-color: rgb(180,12,90);
}
#todays-challenge {
    font-weight: bold;
    font-size: 52px;
}
ol{
    list-style: none;
}
li{
    background-color: rgb(223,136,124);
    border-radius: 6px;
    margin: 32px;
}